<!-- <% if(<%= element.status %> === 'requested'){ %> -->
            <!-- <% if(true){ %> -->

                var check = element.status;
                <!-- <% switch(check) {
                  case 'requested' : %> -->
                  <a href="/login/request/reqdetail/breq/approve/<%=pid%>" style="text-decoration: none;">
                    <button id="btnSearch" class="  btn btn-primary btn-md center-block" Style="width: 100px;" OnClick="btnSearch_Click" >Approve</button>
                    </a>
                 
                  <!-- <% break;
                  }
                  %> -->
                <button id="btnClear" class="btn btn-danger btn-md center-block" Style="width: 100px;" OnClick="btnClear_Click" >Decline</button>
              <!-- <% } else{ %>   -->
                <!-- <button id="btnSearch" class="  btn btn-primary btn-md center-block" Style="width: 100px;" OnClick="btnSearch_Click" >Approved Successfully</button> -->
           <!-- <% } %> -->



           <!-- <% else{ %>
          <a href="/login/request/reqdetail/breq/approve/<%=pid%>" style="text-decoration: none;">
            <button id="btnSearch" class="  btn btn-primary btn-md center-block" Style="width: 100px;" OnClick="btnSearch_Click" >Approved Succe</button>
            </a> 
          <% } %> -->