<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../../../assets/css/style.css" />
    <link rel="stylesheet" href="../../../assets/css/fontawesome.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../../assets/vendors/css/glightbox.min.css" />
  </head>
  <body>
    <!-- <h1>What is wrong with u</h1> -->
    <section class="birthform">
      <!-- <form action="birthChoice/birthInfo/<%=usrId%>" enctype="multipart/form-data" method="POST"> -->
      <!-- action="birthInfo/<%=usrId%>" enctype="multipart/form-data" method="POST" -->
      <form
        action="deathInfo/<%=usrId%>" 
        method="post"
      >
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12">
            <div class="card bg-dark text-white" style="border-radius: 1rem">
              <div class="card-body p-5 text-center">
                <div class="mb-md-5 mt-md-4 pb-5">
                  <h2 class="fw-bold mb-2 text-uppercase">DEATH</h2>
                  <p class="text-white-50 mb-5">
                    Please fill the death certificate form <%=usrId%>
                  </p>
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="form-outline form-white mb-4">
                        <input 
                        class="form-control form-control-lg"
                        type="text" 
                        id="deathtext1"required 
                         name="deathtext1" 
                          />
                        <label class="form-label" for="typeEmailX">
                          DECEASED'S NAME</label>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="form-outline form-white mb-4">
                        <input class="form-control form-control-lg"
                        type="text" 
                        id="deathtext2" required
                         name="deathtext2"  />
                        <label class="form-label" for="typeEmailX">FATHERS NAME</label>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="form-outline form-white mb-4">
                        <input type="text" id="deathtext3"  required name="deathtext3" class="form-control form-control-lg" />
                        <label class="form-label" for="typeEmailX">GRAND FATHER'S NAME</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                      <div class="form-outline form-white mb-4">
                        <input type="text" id="deathtext4"  required name="deathtext4" class="form-control form-control-lg" />
                        <label class="form-label" for="typeEmailX">TITLE OF THE DECEASED
                        </label>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                      <div class="form-outline form-white mb-4">
                        <input type="text" id="deathtext5"  required name="deathtext5" class="form-control form-control-lg" />
                        <label class="form-label" for="typeEmailX">PLACE OF DEATH</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-check m-1">
                      <input class="form-check-input" type="radio" name="deathgender" id="deathgender1" value="male"/>
                      <label class="form-check-label" for="flexRadioDefault1"> MALE </label>
                    </div>
                    
                    <!-- Default checked radio -->
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="deathgender" id="deathgender2" checked value="female"/>
                      <label class="form-check-label" for="flexRadioDefault2"> FEMALE </label>
                    </div>
                    
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="form-outline form-white mb-4 mt-4">
                        <input type="text" id="deathtext7"  required name="deathtext7" class="form-control form-control-lg" />
                        <label class="form-label" for="typeEmailX">CITIZENSHIP STATUS
                        </label>
                      </div>
                    </div>


                    <div class="row text-center mt-sm-5 mb-3">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="p-sm-1">
                          <label for="birthday">DATE OF DEATH
                        </div>
                        </label>
                        <input type="date" id="deathcl1" name="deathcl1" value="2012-12-12"
                        max="2023-02-24"
                         />

                      </div>

                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="p-sm-1">
                          <label for="birthday">DATE OF DEATH REGISTRATION
                          </label>
                        </div>

                        <input type="date" id="deathcl2" name="deathcl2" value="2012-12-12" 
                        max="2023-02-24"/>
                      </div>
                    </div>
                  </div>

                  <button class="btn btn-outline-light btn-lg px-5" type="submit">
                    SUBMIT
                  </button>

                  <div class="d-flex justify-content-center text-center mt-4 pt-1">
                    <a href="https://www.facebook.com/wesagn.kunet/" class="text-white"><i
                        class="fab fa-facebook-f fa-lg"></i></a>
                    <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                    <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                  </div>
                  <div>
                    <p class="mb-0">
                      Go back to the main page
                      <a href="/index.html" class="text-white"
                      ><i class="fa-solid fa-house-user m-1 text-warning"></i></a>
                      
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    
    </form>
    </section>

    <!-- javascritp for birthday photo upload  -->

    <script>
      function preview() {
        frame1.src = URL.createObjectURL(event.target.files[0]);
      }
      function clearImage() {
        document.getElementById("birthpic1").value = null;
        frame1.src = "";
      }
    </script>
  </body>
</html>
